<nav>
    <ul>
        <li>
            <a href="{{ path('app_admin_auteur_create') }}"> Nouvelle auteur</a>
        </li>
        <li>
            <a href="{{ path('app_admin_auteur_list') }}"> Liste des  autheurs</a>
        </li>
        {# <li>
            <a href="{{ path('app_auteur_update', {id: auteur.id}) }}"> Update des  autheurs</a>
        </li>
        <li>
            <a href="{{ path('app_auteur_remove', {id: auteur.id}) }}"> Delete des  autheurs</a>
        </li> #}

    </ul>
</nav>
